node_modules
build
npm-debug.log
.env
.DS_Store
node_modules/
.idea
.vscode
.Backend
./backend/dist/config/
./backend/dist/controllers/
./backend/dist/helpers/
./backend/dist/middlewares/
./backend/dist/models/
./backend/dist/routes/
./backend/dist/sockets/
./backend/dist/app.js
./backend/dist/app.js.map
./backend/dist/database.js
./backend/dist/database.js.map
./backend/dist/index.js
./backend/dist/index.js.map
backend/dist/config/
backend/dist/controllers/
backend/dist/helpers/
backend/dist/middlewares/
backend/dist/models/
backend/dist/routes/
backend/dist/sockets/
backend/dist/app.js
backend/dist/app.js.map
backend/dist/database.js
backend/dist/database.js.map
backend/dist/index.js
backend/dist/index.js.map