node_modules
build
npm-debug.log
.idea
.env
.DS_Store
node_modules/
.idea
.vscode
backend/dist/config
backend/dist/controllers
backend/dist/middlewares
backend/dist/models
backend/dist/routes
backend/dist/sockets
backend/dist/app.js
backend/dist/app.js.map
backend/dist/database.js
backend/dist/database.js.map
backend/dist/index.js
backend/dist/index.js.map
backend/node_modules
backend/dist/helpers
backend/dist/controllers/auth.controller.js
backend/dist/controllers/auth.controller.js.map
backend/dist/controllers/student.controller.js
backend/dist/controllers/student.controller.js.map