node_modules
build
npm-debug.log
.env
.DS_Store
node_modules/
.idea
.vscode
../dist/config
../dist/controllers
../dist/helpers
../dist/middlewares
../dist/models
../dist/routes
../dist/sockets
../dist/app.js
../dist/app.js.mao
../dist/database.js
../dist/database.js.map
../dist/index.js
../dist/inde.js.map

